*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.customer-dashboard{

    display:flex;

    min-height:100vh;

    background:#eef2f7;

}

/* Sidebar */

.sidebar{

    width:260px;

    background:#1e3a8a;

    color:white;

    padding:25px;

    flex-shrink:0;

}

.sidebar h2{

    text-align:center;

    margin-bottom:30px;

    font-size:28px;

}

.sidebar button{

    width:100%;

    border:none;

    background:none;

    color:white;

    padding:14px;

    text-align:left;

    font-size:16px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

    margin-bottom:10px;

}

.sidebar button:hover{

    background:#2563eb;

}

/* Right Content */

.content{

    flex:1;

    padding:40px;

    display:flex;

    justify-content:center;

    align-items:flex-start;

}

@media(max-width:900px){

.customer-dashboard{

flex-direction:column;

}

.sidebar{

width:100%;

}

.content{

padding:20px;

}

}