*{
margin:0;
padding:0;
box-sizing:border-box;
}

.login-page{

width:100%;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f3f5f7;

}

.login-box{

width:420px;

background:white;

padding:40px;

border-radius:10px;

box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.login-box h2{

text-align:center;

margin-bottom:10px;

color:#2d3436;

}

.login-box p{

text-align:center;

margin-bottom:25px;

color:#777;

}

.login-box input{

width:100%;

padding:15px;

margin-bottom:18px;

border:1px solid #ddd;

border-radius:6px;

font-size:16px;

outline:none;

}

.login-box input:focus{

border:1px solid #1abc9c;

}

.login-box button{

width:100%;

padding:15px;

background:#1abc9c;

border:none;

border-radius:6px;

font-size:18px;

cursor:pointer;

color:white;

font-weight:bold;

}

.login-box button:hover{

background:#16a085;

}

.bottom-text{

margin-top:20px;

text-align:center;

}

.bottom-text span{

color:#16a085;

cursor:pointer;

margin-left:5px;

font-weight:bold;

}